.side-article-contents {
    position: absolute;
    right: 50px;
    margin-top: 75px;
    width: 200px;
    height: 500px;
    padding: 25px;
    padding-left: 25px;
    border: 5px solid darkslategray;
    background-color: rgb(44, 44, 44);
}

.contents-header {
    color: whitesmoke;
    font-size: 3em;
    text-align: left;
}

.contents-link {
    color: lightblue;
    font-size: 1em;
    text-align: left;
}

